/* ============ COMMON STYLES ============ */
.hidden {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}
.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ============ CONTAINER ============ */
.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }
}

/* ============ ABOUT US ============ */

.aboutus-section {
  background-image: url(/images/aboutus/about-elements-mob@1x.png);
  background-size: 240px 284px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #1c2225;
  padding-top: 80px;
  padding-bottom: 62px;
}
.aboutus-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin: 0 auto;
}
.aboutus-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.aboutus-section-title {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.45;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  text-transform: capitalize;
}

.aboutus-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.aboutus-description {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: normal;
  letter-spacing: -0.64px;
  font-style: normal;
  color: #fcf9f966;
  text-align: left;
}
.aboutus-image {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  border-radius: 4px;
  width: 355px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .aboutus-section {
    background-image: url(/images/aboutus/about-elements-tab@1x.png);
    background-size: 335px 484px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .aboutus-container {
    gap: 40px;
  }
  .aboutus-image {
    width: 704px;
    height: 545px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus-section {
    background-image: url(/images/aboutus/about-elements-desk@1x.png);
    background-size: 340px 384px;
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .aboutus-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .aboutus-image {
    margin-top: auto;
    max-width: 594px;
    max-height: 545px;
  }
}

/* ============ HEADER ============ */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu,
.address {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}
.logo-part {
  color: #2e2f42;
}
.page-navigation {
  margin-right: auto;
}
.btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-burger {
  fill: #2f2f37;
  display: block;
}
@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .address {
    display: block;
    font-style: normal;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* ============ MOB MENU ============ */
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 72px 16px 40px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ==== .is-open-mob {
  opacity: 1;
  visibility: visible;
} === */

.mob-menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #fdfdff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-close-btn:focus,
.mob-menu-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.mob-menu-close-btn:focus .mob-menu-close-icon,
.mob-menu-close-btn:hover .mob-menu-close-icon {
  fill: #fff;
}

.mob-menu-nav {
  margin-bottom: 168px;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-link {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 16px;
}
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}
.mob-menu-link.active {
  color: #404bbf;
}
.backlight {
  color: #404bbf;
}
.mob-menu-adress {
  margin-bottom: 48px;
}
.mob-menu-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu-contact-link {
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 18px;
}
.mob-menu-contact-link:hover,
.mob-menu-contact-link:focus {
  color: #404bbf;
}
.backlight-tel {
  color: #404bbf;
}
.mob-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.mob-menu-social-item {
  width: 40px;
  height: 40px;
}
.mob-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-social-link:hover,
.mob-menu-social-link:focus {
  background-color: #404bbf;
}
.mob-menu-social-icon {
  fill: #f4f4fd;
}
/* ============ HERO ============ */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: padding-box;
  max-width: 320px;
  min-height: 432px;
  padding: 72px 0;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-mob@2x.jpg);
    }
  }
}
.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  display: block;
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.orden-service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.orden-service-btn:hover {
  background-color: #404bbf;
}
.orden-service-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tab.jpg);
    max-width: 768px;
    min-height: 436px;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-tab@2x.jpg);
    }
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }
  .main-title {
    margin-bottom: 48px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office@2x.jpg);
    }
  }
}

/* ============ OUR BENEFITS ============ */
.benefits-title {
  width: 100%;
}
.benefits-list {
  display: flex;
  flex-direction: column;
}
.benefits-title {
  padding: 96px 0;
}
.benefits-icons {
  display: none;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 24px 100px;
  height: 112px;
  border: 1px solid rgba(142, 143, 153, 1);
  background-color: rgba(244, 244, 253, 1);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (max-width: 767px) {
  .benefits-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
.benefits-list-item {
  width: 100%;
}
.benefits-list-title {
  text-align: center;
  font-style: normal;
  line-height: 40px;
  text-transform: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .benefits-list-title {
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
  }
  .benefits-list-text {
    margin-bottom: 72px;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }
  .benefits-list-text {
    font-weight: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.01em;
  }
  .benefits-title {
    padding: 120px 0;
  }
  .benefits-list {
    display: flex;
    gap: 24px;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    padding: 24px 100px;
    height: 112px;
    border: 1px solid rgba(142, 143, 153, 1);
    background-color: rgba(244, 244, 253, 1);
    border-radius: 4px 4px 4px 4px;
  }
  .benefits-icon:hover,
  .benefits-icon:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
/* ============ OUR TEAM ============ */
.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
@media (max-width: 767px) {
  .our-team-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.our-team-list-item {
  width: 264px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.our-team-list-list .our-team-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team-list-img {
  width: 264px;
  height: 260px;
}
.team-box {
  padding: 32px 0;
  text-align: center;
}
.section-paddings {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team-list-list {
  display: flex;
  gap: 72px 28px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 24px);
  margin: 0 auto;
}

.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-people {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.traling-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.icons-items {
  width: 40px;
  height: 40px;
  margin: 0;
}
.link-soc {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-soc:hover,
.link-soc:focus {
  background-color: #404bbf;
}
.soc-icons {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .our-team-list-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .our-team-list-item {
    max-width: calc((100% - 24px) / 2);
    margin: 0 0;
  }
}
@media screen and (min-width: 1158px) {
  .our-team-list-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .our-team {
    padding: 120px 0;
  }
  .our-people {
    font-weight: 400;
  }
}
/* ============ OUR PORTFOLIO ============ */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-portfolio {
  padding: 96px 0;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
}
.overlay-tex {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-box {
  position: relative;
  overflow: hidden;
}
.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item {
  cursor: pointer;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay-tex {
  transform: translateY(0%);
}
.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-text {
  font-weight: 400;
}
.portfolio-page {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-list-item {
    max-width: calc((100% - 24px) / 2);
    margin: 0 0;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .section-portfolio {
    padding: 120px 0;
  }
  .portfolio-list-item {
    max-width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-text {
    font-weight: 400;
  }
}
/* ============ FOOTER ============ */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}
.footer-descr {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin-right: 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background-color: #2e2f42;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-part-footer {
  color: #f4f4fd;
}
.text-footer {
  font-size: 16px;
  color: #f4f4fd;
  font-weight: 400;
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.footer-social-page {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-media-menu {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-media-links {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icons {
  fill: #f4f4fd;
}
.social-media-links:hover,
.social-media-links:focus {
  background-color: #31d0aa;
}
.subscribe-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.subscribe-label {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.subscribe-input {
  letter-spacing: 0.04em;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.subscribe-input::placeholder {
  color: #fff;
}
.subscribe-button {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:focus,
.subscribe-button:hover {
  background-color: #404bbf;
}
.send-image {
  margin-left: 16px;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer-wrap {
    text-align: left;
    width: 584px;
    gap: 72px 24px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer-descr {
    width: 264px;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-wrap {
    align-items: baseline;
    text-align: left;
    gap: 0;
    width: 1158px;
  }
  .footer-descr {
    margin-right: 120px;
  }
  .page-footer {
    padding: 100px 0;
  }
  .footer-social-media {
    margin-right: 80px;
  }
  .text-footer {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
/* ============ MODAL ============ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*======.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} =====*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 16px 16px;
  border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #fff;
}
.call-back-title-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.5;
  color: #2e2f42;
  font-size: 16px;
  margin-bottom: 16px;
}
.input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.call-back-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}
.call-back-form-input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-back-form-input:focus {
  border-color: #4d5ae5;
}
.call-back-form-input:focus + .input-icons {
  fill: #4d5ae5;
}
.call-back-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-comment-container {
  margin-bottom: 16px;
}
.call-back-form-message {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  outline: none;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-back-form-message::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: rgba(46, 47, 66, 0.4);
}
.call-back-form-message:focus {
  border-color: #4d5ae5;
}
.privacy-policy-container {
  margin-bottom: 24px;
}
.call-back-form-checkbox:checked
  + .call-back-form-checkbox-label
  .privacy-policy-checkbox-span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.call-back-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  gap: 4px;
}
.privacy-policy-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  fill: transparent;
  display: inline-flex;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.send-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
