/* ============ COMMON STYLES ============ */
.hidden {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}
.section-paddings {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ============ CONTAINER ============ */
.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }
}

/* ============ ABOUT US ============ */

.aboutus-section {
  background-image: url(/images/aboutus/about-elements-mob@1x.png);
  background-size: 240px 284px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #1c2225;
  padding-top: 80px;
  padding-bottom: 62px;
}
.aboutus-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin: 0 auto;
}
.aboutus-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.aboutus-section-title {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.45;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  text-transform: capitalize;
}

.aboutus-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.aboutus-description {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  line-height: normal;
  letter-spacing: -0.64px;
  font-style: normal;
  color: #fcf9f966;
  text-align: left;
}
.aboutus-image {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  border-radius: 4px;
  width: 355px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .aboutus-section {
    background-image: url(/images/aboutus/about-elements-tab@1x.png);
    background-size: 335px 484px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .aboutus-container {
    gap: 40px;
  }
  .aboutus-image {
    width: 704px;
    height: 545px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus-section {
    background-image: url(/images/aboutus/about-elements-desk@1x.png);
    background-size: 340px 384px;
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .aboutus-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .aboutus-image {
    margin-top: auto;
    max-width: 594px;
    max-height: 545px;
  }
}
